:root {
  --green: rgb(0, 166, 90);
  --darkgreen: rgb(0, 141, 76);
  --lightgreen: rgb(0, 180, 110);
  --gray: rgb(80, 80, 112);
  --darkgray: rgb(150, 150, 150);
}

section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    background-color: var(--green) !important;
    color: white !important;
    border-color: var(--darkgreen) !important;
}

section.sidebar:hover .shiny-bound-input.action-button:hover, section.sidebar:hover .shiny-bound-input.action-link :hover {
    background-color: var(--lightgreen) !important;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px !important;
}

.sidebar-menu .treeview-menu {
    padding-bottom: 20px !important;
}

section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    /*margin: 10px !important;*/
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: calc(100% - 5px);
}

.line {
    width: 80%;
    border-top: 2px dashed var(--gray) !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.div_step {
    margin-top: 15px !important;
}

.div_step .shiny-split-layout {
    margin-top: -20px !important;
}

.myp {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
}

#dim_method {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#dim_method .control-label {
    font-size: 25px !important;
}

#dim_options {
    margin-right: 0px !important;
}

#dim_n_components {
    margin-left: -30px !important;
    margin-top: 20px !important;
    width: 100% !important;
    height: 30px !important;
}

#clu_method {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#ensemble_checkbox {
    margin-top: -20px !important;
}

.multicol {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3;    /* Firefox */
    column-count: 3;
    -moz-column-fill: auto;
    -column-fill: auto;
}

.checkbox-inline, .radio-inline {
    margin-right: 20px !important;
}

input:disabled {
    background: var(--darkgray) !important;
}

h2 {
    font-size:18px !important;
}

h3 {
    font-size:16px !important;
}

.wrapper {
    overflow-y: hidden !important;
}

.shiny-split-layout {
    padding: 0 !important;
    margin: 0 !important;
}

.shiny-split-layout > div {
    overflow: visible;
}

.secondcol {
    width: calc(100% - 37px) !important;
    margin-top: 37px !important;
}

.longbtn {
    width: calc(100% - 35px) !important;
}

#ssclurun {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
