:root {
    --mainbg: #F5F5F5;
    --gray: rgb(80, 80, 112);
    --darkgray: rgb(150, 150, 150);
    --bluegray: rgb(44, 59, 65);
    --darkbluegray: rgb(34, 45, 50);
    --btncolor: #1F7499;
    --btncolorhover: #2386B0;
}

.content-wrapper, .right-side {
    background-color: var(--mainbg);
}

section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    background-color: var(--btncolor) !important;
    color: white !important;
    border-color: var(--btncolor) !important;
}

section.sidebar:hover .shiny-bound-input.action-button:hover, section.sidebar:hover .shiny-bound-input.action-link :hover {
    background-color: var(--btncolorhover) !important;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px !important;
}

.sidebar-menu .treeview-menu {
    padding-bottom: 20px !important;
}

.shiny-input-container:not(.shiny-input-container-inline) {
    width: calc(100% - 5px);
}

.line {
    width: 80%;
    border-top: 2px dashed var(--gray) !important;
    margin-top: 0px;
    margin-bottom: 5px;
}


.div_step .shiny-split-layout {
    margin-top: -20px !important;
}

.sidebar-menu .treeview-menu > .shiny-download-link {
    margin-top: -100px !important;
}

.myp {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
}

#dim_method {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#dim_method .control-label {
    font-size: 25px !important;
}

#dim_options {
    margin-right: 0px !important;
}

.div_dim_n_components {
    margin-left: -30px !important;
    margin-top: 20px !important;
    width: 100% !important;
    height: 30px !important;
}

#clu_method {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#ensemble_checkbox {
    margin-top: -20px !important;
}

.multicol {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3;    /* Firefox */
    column-count: 3;
    -moz-column-fill: auto;
    -column-fill: auto;
    margin-bottom: 10px !important;
}

.checkbox-inline, .radio-inline {
    margin-right: 20px !important;
}

input:disabled {
    background: var(--darkgray) !important;
}

.downloadbtn {
    background-color: var(--btncolor) !important;
    color: white !important;
    border-color: var(--btncolor) !important;
    margin-left: 14px !important;
}

.downloadbtn:hover {
    background-color: var(--btncolorhover) !important;
}

.wrapper {
    overflow-y: hidden !important;
}

.shiny-split-layout {
    padding: 0 !important;
    margin: 0 !important;
}

.shiny-split-layout > div {
    overflow: visible;
}

.secondcol {
    width: calc(100% - 37px) !important;
    margin-top: 37px !important;
}

.longbtn {
    width: calc(100% - 35px) !important;
}

#ssclurun {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#details_div {
    min-height: 300px;
}

.div_subsets {
    margin-top: 30px;
}

.div_merge {
    margin-top: 30px;
}

.runconfig {
    margin-top: 30px;
}

.div_download_session {
    margin-top: 30px;
}

#ns-switcher {
    margin-top: 40px !important;
}

.hist {
    float:right !important;
    margin-right: 40px !important;
    margin-bottom: -40px !important;
}

.histbtn {
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-align: center;
}

.histbtn:hover {
    background-color: #ddd;
    color: black;
}

.prevbtn {
    border-radius: 50%;
    background-color: white;
    color: black;
}

.nextbtn {
    border-radius: 50%;
    background-color: var(--btncolor);
    color: white;
    border-color: var(--btncolor);
}

.body_dark_mode {
    background-color: var(--bluegray) !important;
    color: white;
}

.tab_dark_mode {
    color : white !important;
    background-color: var(--bluegray) !important;
    border-color: var(--bluegray) !important;
}

.tab_dark_mode:hover {
    background-color: var(--darkbluegray) !important;
    border-color: var(--darkbluegray) !important;
}

.nav-tabs > li.active > a.tab_dark_mode,
.nav-tabs > li.active > a.tab_dark_mode:focus,
.nav-tabs > li.active > a.tab_dark_mode:hover {
    color : white !important;
    background-color: var(--darkbluegray) !important;
    border-color: var(--darkbluegray) !important;
}

.nav_tabs_dark_mode {
    border-bottom-color: var(--darkbluegray) !important;
}

.btn_dark {
    background-color: var(--darkbluegray) !important;
    color: white !important;
    border-color: transparent !important;
}

.btn_dark:hover {
    background-color: white !important;
    color: black !important;
    border-color: transparent !important;
}

#ns-collapse_cell_names {
    float: right;
    margin-right: 50px;
    margin-bottom: -20px;
    margin-top: 20px;
    border: none;
    background: none;
    box-shadow: none;
}

#ns-collapse_cell_names:hover {
    text-decoration: underline;
}

.cell_names_dark,
.cell_names_dark:hover,
.cell_names_dark:active,
.cell_names_dark:focus {
    color: white;
}

.odd_dark {
    background-color: var(--darkbluegray) !important;
    color: white !important;
}

.odd_dark:hover {
    background-color: var(--darkbluegray) !important;
    color: white !important;
}

.even_dark {
    background-color: var(--bluegray) !important;
    color: white !important;
}

.even_dark:hover {
    background-color: var(--darkbluegray) !important;
    color: white !important;
}

.datatables_dark {
    color: white !important;
}

.dataTables_white {
    color: white !important;
}

.title1 {
    float:left;
    font-size: 10px;
    margin-left: 10px;
    margin-top: -13px;
}

.title2 {
    float:left;
    font-size: 10px;
    margin-left: 46px;
    margin-top: -50px;
}

.title3 {
    float:left;
    font-size: 10px;
    margin-left: 46px;
    margin-top: -87px;
}

.footer {
    color: gray;
    text-align: center;
    position: absolute;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    bottom: 5px;
}

#ns-heatmap {
    margin-bottom: 20px;
}

.maintitle {
    font-size: 20px;
    line-height: 50px;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    overflow: hidden;
    color: white;
}
